# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
*.egg-info/

# Flask / Web
uploads/
*.sqlite3
*.log

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Byte-compiled / cache / temp files
*.bak
*.swp
*.tmp
